/* src/loader.css */
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f9fbfd;
  font-family: "Source Serif Pro", serif;
  color: #4da6ff;
}

.spinner {
  border: 6px solid #f3f3f3; /* Light gray */
  border-top: 6px solid #4da6ff; /* Brand blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-container p {
  font-size: 18px;
  font-weight: bold;
}
